/* GENERAL */

:root {
  --almost-black: #0a0908;
  --light-blue: #7ea0b7;
  --vanilla: #fffdf7;
  --medium-blue: #086788;
  --blue-gray: #3e4249;
  --coral: #ed6a5a;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', Helvetica, sans-serif;
  color: var(--almost-black);
  position: relative;
}

a.nav-link.active {
  text-decoration: underline overline solid var(--coral);
  font-weight: 800;
}

footer {
  margin-top: 50px;
  box-sizing: unset;
}

section {
  margin: 25px;
}

.section-title,
div > h3.section-title {
  text-decoration: underline overline solid var(--coral);
}

a:hover {
  color: var(--coral);
  text-decoration: none;
}

.btn:focus,
.btn:active:focus {
  outline: none !important;
  box-shadow: none !important;
  color: var(--coral);
}

/* NAVIGATION */

a.nav-link:hover {
  text-decoration: underline solid var(--coral);
  font-weight: 600;
}

.logo {
  border: solid 2px var(--coral);
  padding: 12px;
  margin: 5px;
  font-weight: 600;
}

.logo-span {
  color: var(--coral);
}

nav#main-nav.navbar.scrolled,
nav#secondary-nav.navbar {
  background: rgba(10, 9, 8, 0.9);
  transition: 0.25s;
  color: var(--vanilla);
}

nav#main-nav.navbar a,
nav#secondary-nav.navbar a {
  color: var(--vanilla);
}

.navbar .navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger3.svg?color=ed6a5a');
}

/* WELCOME SECTION */

#welcome-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  margin-bottom: 30px;
}

.welcome-image,
.jumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/hero-image.png) center center;
  opacity: 0.75;
}

.welcome-text h1,
.welcome-text h2,
.welcome-text a,
.jumbotron h1 {
  color: white;
  text-align: center;
  font-weight: 800;
  font-size: 3rem;
  text-decoration: underline solid var(--coral);
}

.welcome-text a {
  position: absolute;
  left: 50%;
}

.welcome-text a:hover {
  font-size: 3rem;
  color: var(--coral);
}

.jumbotron {
  margin-top: 82px;
}

#jumbotron::before {
  display: block;
  content: ' ';
  margin-top: -25px;
  height: 100px;
  visibility: hidden;
  pointer-events: none;
}

/* ABOUT */

.resume-link {
  position: relative;
  bottom: 5%;
}

.resume-link:hover {
  transform: scale(1.2);
  background: var(--vanilla) !important;
  color: var(--coral);
}

#about::before {
  display: block;
  content: ' ';
  margin-top: -25px;
  height: 150px;
  visibility: hidden;
  pointer-events: none;
}

.badge {
  background: var(--coral);
  font-size: 24px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 42px;
  margin: 0 5px 20px 0;
  padding: 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  /* color: var(--almost-black); */
  color: var(--vanilla);
}

.badge:hover {
  background: var(--vanilla);
}

.btn.btn-primary {
  background: var(--coral);
  border: none;
}

.btn.btn-primary a {
  color: var(--vanilla);
}

.btn.btn-primary a:hover {
  color: var(--coral);
  font-weight: 600;
}

hr.styled {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, var(--coral), #ccc);
}

li i.fab {
  color: var(--almost-black);
}

/* PORTFOLIO */

h3.project-title,
h3.blog-title a,
h1.blog-title {
  text-decoration: underline solid var(--coral);
  font-weight: 600;
}

ul.list-group .list-group-item {
  border: none;
}

ul.features {
  list-style: disc outside none;
  margin-left: 0;
}

.features li::before {
  content: '> ';
  color: var(--coral);
}

.features li {
  list-style-type: none;
  padding: 5px;
}

button.btn.btn-primary {
  background: var(--coral);
  border: none;
}

.contact-link:hover {
  transform: scale(1.2);
  background: var(--vanilla) !important;
  color: var(--coral);
}

/* FOOTER */

footer .nav-link,
#footer-full {
  background: var(--almost-black);
  color: var(--vanilla);
}

.coral {
  color: var(--coral);
}

/* MEDIA QUERIES */

/* @media only screen and (max-width: 990px) {
  .list-group.list-group-horizontal-sm {
    display: none;
  } */
